			.container { display: grid;
				grid-template-columns: auto auto;
				justify-content: center;
				font-family: 'Courier Prime',serif;
				background-color: #B8A594;
				color: #505664;
				text-align: justify;
				line-height: 25px}
			img { display: block;
				margin-left: auto;
				margin-right: auto;
				border-radius: 10px;}
			h1, h3 { background-color: #505664;
					color: #EADCBF;
					border-radius: 5px;
					text-align: center;
					font-family: 'Marvel',serif;
					letter-spacing: 3px;
					line-height:30px;}
			.container > div { padding-top: 50px;
				padding-right: 50px;
				padding-bottom: 50px;
				padding-left: 50px;
				border-radius: 80px;
				background-color:#EADCBF;}
			.item1 { margin: 50px 15px 50px 100px;}
			.item2 { margin: 50px 100px 50px 15px;}	
